parameters:
	ignoreErrors:
		-
			message: "#^Access to an undefined property AsevenTeam\\\\Documents\\\\Models\\\\DocumentTemplate\\:\\:\\$content\\.$#"
			count: 1
			path: src/Drivers/DriverDecorator.php

		-
			message: "#^Access to an undefined property AsevenTeam\\\\Documents\\\\Models\\\\DocumentTemplate\\:\\:\\$options\\.$#"
			count: 1
			path: src/Drivers/DriverDecorator.php

		-
			message: "#^Access to an undefined property AsevenTeam\\\\Documents\\\\Models\\\\DocumentTemplate\\:\\:\\$variables\\.$#"
			count: 1
			path: src/Drivers/DriverDecorator.php

		-
			message: "#^Property 'key' does not exist in AsevenTeam\\\\Documents\\\\Models\\\\DocumentTemplate model\\.$#"
			count: 1
			path: src/Drivers/DriverDecorator.php
